img {
    width: 100%;
    height: auto;
    position:relative;
}


/* Relative position: https://csstricks.com/absolutepositioninginsiderelativepositioning/ */

#container {
    display: inlineblock;
    width: 50%;
    position: relative;
}


/* Assign styles here */
.label{
	z-index:1;
	position:absolute;
	color:white;
}


.center{
	top:50%;
}

.middle{
	width:100%;
	text-align: center;
}

.right{
	right:2px;
}

.bottom{
	bottom:5px;
}

.left{
	left:2px;
}